.cart{
    width: 25%;
    height: 91.5%;
    background-color: white;
    float: right;
    overflow-y: scroll;
}
.item-selected{
    width: 100%;
    height: 91.5vh;
    background-color: white;
    border-top: 1px solid #F2F2F2;
}

.cart-item{
    width: 90%;
    height: 15vh;
    /* border: 1px solid black; */
    margin-top: 15px;
}

.img-cart{
    width: 85px;
    height: 75px;
    /* border: 1px solid black; */
    float: left;
    margin-left: 25px;
    margin-top: 10px;
    /* position: absolute; */
}

.img-cartt{
    width: 90px;
    height: 75px;
    /* border: 1px solid black; */
    float: left;
}